body {
  background: peachpuff;
}

.container {
  display: flex;
  background-color: black;
  justify-content: space-around;
  flex-wrap: wrap;
}

.a {
  width: 96.5vh;
  height: 20vh;
  margin: 10px;
  border: 3px solid white;
  background-color: white;
  flex-shrink: 0;
  background-color: green;
}

.b {
  background-color: red;
  width: 22vh;
  height: 22vh;
  margin: 5px;
  border: 3px solid white;
  position: relative;
}

.c {
  background-color: purple;
  width: 22vh;
  height: 22vh;
  margin: 5px;
  border: 3px solid white;
  position: relative;
}

.d {
  background-color: yellow;
  width: 22vh;
  height: 22vh;
  border: 3px solid white;
  position: relative;
}

.e {
  background-color: blue;
  width: 22vh;
  height: 22vh;
  margin: 5px;
  border: 3px solid white;
  position: relative;
  left:-73vh;
  bottom: -23vh;
}

.f {
  background-color: white;
  width: 22vh;
  height: 22vh;;
  margin: 5px;
  border: 3px solid white;
  justify-content: column;

}

.g {
  background-color: dimgrey;
  border: 3px solid white;
  width: 22vh;
  height: 22vh;
  position: relative;


}

.h {
  width: 22vh;
  margin: 5px;
  border: 3px solid white;
  background-color: teal;
  height: 63vh;
  

}
